.needs-validation{
  margin-top: 10%;
  margin-left: 50%;
  margin-bottom: 10%;
  width: 50%;
  background-color: #fff;
  border-radius: 40px;
  border-color: blue;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  min-width: 100px;
  max-width: 500px;
}

.btn-lg{
  border-radius:70%;
  border: brown;
  background-color: aliceblue;
}
.btn-lg:hover{
  color: rgb(248, 5, 5);
}



