body{
  background-color: #eaeaea;
}


.needs-validation{
  margin-top: 10%;
  margin-left: 50%;
  margin-bottom: 10%;
  width: 60%;
  color: #f1f2f3;
  font-family: 'Glegoo';
  border-radius: 40px;
  background-color: #0b7b9e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  min-width: 100px;
  max-width: 500px;
}
.btn-lg{
  background-color: #002756;
  border: brown;
}
.form-control{
  width: 250px;
  max-width: 250px;
  min-width: 50px;
}
.form-signup input[type="number"] {
  margin-bottom: 1px;
}

input[type='number'].error-border {
  border: 1px solid red;
}



