body{
  background-color: #eaeaea;
}


.needs-validation{
  margin-top: 10%;
  margin-left: 50%;
  margin-bottom: 10%;
  width: 60%;
  color: #f1f2f3;
  font-family: 'Glegoo';
  border-radius: 40px;
  background-color: #0b7b9e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  min-width: 100px;
  max-width: 500px;
}

.btn-lg{
  background-color: #002756;
  border: brown;
  background-color: aliceblue;
}
.btn-lg:hover{
  color: rgb(248, 5, 5);
}



