body {
    height: 100%;
    background-color: #eaeaea;
}
*{
    font-family: 'Reem Kufi';
}
.form-signin {
    margin-left: 60px;
    max-width: 330px;
    padding: 1rem;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    margin-bottom: -1px;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup input[type="text"] {
    margin-bottom: 1px;
}
.form-signup input[type="text"].error {
    border: 1px solid red;
}

.form-signup input[type="password"] {
    margin-bottom: 1px;
}

.form-signup input[type="password"].error {
    border: 1px solid red;
}

.custom-card{
    position: absolute;
    width: 480px;
    margin-top: 130px;
    margin-left: 28%;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
}
.custom-card-header{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #c6c3b6;
    font-family: 'Reem Kufi';
    font-size: 20px;
    color: #002756;
}
.custom-card-body{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #dddace;
    font-family: 'Glegoo';
}
.btn-auth{
    font-family: 'Reem Kufi';
    margin-top: 10px;
    background-color: #00447c;
    border-color: #dddace;
}
.btn-auth:hover{
    background-color: #002756;
    border-color: #dddace;
    color: white;
}

.btn-base-auth{
    font-family: 'League Spartan';
    margin-top: 10px;
    background-color: #0b7b9e;
    border-color: #dddace;
}
.btn-base-auth:hover{
    background-color: #035b7a;
    border-color: #dddace;
    color: white;
}

